#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_ABI_VERSION) }

#ifndef UNHOARDER_VERSION_STRING
#error UNHOARDER_VERSION_STRING must be provided by CMake
#endif

1 VERSIONINFO
FILEVERSION UNHOARDER_VERSION_MAJOR,UNHOARDER_VERSION_MINOR,UNHOARDER_VERSION_PATCH,0
PRODUCTVERSION UNHOARDER_VERSION_MAJOR,UNHOARDER_VERSION_MINOR,UNHOARDER_VERSION_PATCH,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "MindH1ve"
      VALUE "FileDescription", "JSON loot filter with ground styling, sounds, visibility and automap icons"
      VALUE "FileVersion", UNHOARDER_VERSION_STRING
      VALUE "InternalName", "unhoarder"
      VALUE "OriginalFilename", "unhoarder.dll"
      VALUE "ProductName", "UnHoarder"
      VALUE "ProductVersion", UNHOARDER_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
